.item-card {
    width: 20vw;
    margin: 10px;
    background-color: #FFFFFF;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 8px;
    position: relative;
}

.item-card img{
    width: 60%;
    border: 1px solid #efefef;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
}

.item-card-text p{
    background-color: #FFFFFF;
    font-size: 1em;
    padding: 5px 10px;
}

.heart-icon{
    color: #5264C3;
    position: absolute;
    top: 15px;
    right: 10px;

    cursor: pointer;
}

.white{
    background-color: #FFFFFF;
}

.item-card-text .price{
    background-color: #FFFFFF;
    font-weight: 600;
    padding: 0 10px;
}


.title{
    font-weight: 700;
}


.open-details{
    padding: 5px 10px;
}


@media screen and (max-device-width: 480px){
    .item-card{
        width: 40vw
    }

}