.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 5vw 0 5vw;
    background-color: #FAFAFA;
}

.header-container a{
    font-weight: 700;
    font-size: 24px;
   
}

.cart-icon-container{
    position: relative;
}

.cart-icon{
    font-size: 1.5em;
    
}

.cart-length{
    position: absolute;
    font-size: .5em;
    right: 9px;
    top: 0px;

    background-color: red;
    color: white;
    padding: 0.25em;
    border-radius: 50%;
}