.cart-item-container{
    background-color: lavender;
}

.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
    width: 60vw;
}

.img-title{
    display: flex;
    align-items: center;
    font-size: 1em;
}

.price-quant-remove-data{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

img{
    width: 10vw;

}

p{
    max-width: 20vw;
}

.trash-icon{
    cursor: pointer;
    font-size: 1.75em;
}