.cart-item-container{
    background-color: pink;
}

.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img{
    width: 10vw;

}

p{
    max-width: 20vw;
}

.trash-icon{
    cursor: pointer;
}