/* you can add in google fonts here: 
@import url('urlGoesHere'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.app-container{
  background-color: mintcream;
}

a{
  text-decoration: none;
}